.tag-item {
    display: inline-block;
    cursor: pointer;
    background: #DAA0F7;
    color: #000;
    text-align: center;
    border-radius: 10px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 0 8px;
    box-sizing: border-box;
}