@font-face {
  font-family: "iconfont"; /* Project id 4361819 */
  src: url('iconfont.woff2?t=1703490470642') format('woff2'),
       url('iconfont.woff?t=1703490470642') format('woff'),
       url('iconfont.ttf?t=1703490470642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e634";
}

.icon-roman-2:before {
  content: "\e655";
}

.icon-roman-4:before {
  content: "\e656";
}

.icon-roman-1:before {
  content: "\e657";
}

.icon-roman-3:before {
  content: "\e658";
}

.icon-wenben:before {
  content: "\e622";
}

.icon-pinglun:before {
  content: "\e79a";
}

.icon-yidongzhi:before {
  content: "\e6b4";
}

.icon-rili:before {
  content: "\e610";
}

.icon-xia:before {
  content: "\e730";
}

.icon-arrow-right:before {
  content: "\e79b";
}

.icon-arrow-left:before {
  content: "\e79c";
}

.icon-shousuo:before {
  content: "\e665";
}

.icon-open:before {
  content: "\e66e";
}

.icon-opt:before {
  content: "\e611";
}

.icon-project:before {
  content: "\e600";
}

.icon-envelope:before {
  content: "\e635";
}

.icon-week:before {
  content: "\e66d";
}

.icon-trash:before {
  content: "\e615";
}

.icon-abandon:before {
  content: "\e63d";
}

.icon-task:before {
  content: "\e60f";
}

.icon-today:before {
  content: "\e668";
}

.icon-inbox:before {
  content: "\e662";
}

.icon-completed:before {
  content: "\e606";
}

.icon-priority:before {
  content: "\e653";
}

