@import '@/styles/var';

.home-page {
    height: 100%;

    .sidebar {
        width: 50px;
        height: 100%;
        background-color: rgb(249, 249, 249);
        border-right: 1px solid rgba($color: $t-grey, $alpha: 0.1);

        .top-bar {
            .avatar {}

            .side-icon {
                color: rgba($color: $t-grey, $alpha: 0.4);
                cursor: pointer;
            }

            .active-side-icon {
                color: $t-primary;
            }
        }

        .bottom-bar {}
    }

    .content {}
}