@import '@/styles/index';

.index-page {
    height: 100%;
    display: flex;

    .sidebar-wrapper {
        flex-shrink: 0;
        width: 50px;
        height: 100%;
        background-color: rgb(249, 249, 249);
        border-right: 1px solid rgba($color: $t-grey, $alpha: 0.1);
        padding: 10px 0;
        box-sizing: border-box;

        .top-bar {

            .avatar {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                cursor: pointer;

                img {
                    width: 34px;
                    height: 34px;
                    border-radius: 4px;
                }
            }

            .active-nav {
                color: $t-primary ;
            }

            .nav {
                color: rgba($color: $t-grey, $alpha: 0.4);
            }

            .side-icon {
                cursor: pointer;
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
            }

        }

        .bottom-bar {}
    }

    .index-content-wrapper {
        flex: 1;
    }
}