@import '@/styles/index';

.side-menu-box {
    display: block;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid rgba($color: $t-grey, $alpha: 0.1);
}

$menuItemWidth: 250px;
$menuItemPadding: 10px;

.float-menu-box {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;

    .float-menu-item {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
            background-color: rgba($color: $t-primary, $alpha: 0.05);
        }
    }
}


.card-box {
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba($color: $t-grey, $alpha: 0.1);

    &:last-child {
        border-bottom: none;
    }

    .card-title {
        color: rgba(25, 25, 25, 0.3);
        height: 30px;
    }

    .card-body {
        .menu-item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            width: $menuItemWidth;
            padding: $menuItemPadding;
            box-sizing: border-box;
            margin-bottom: 10px;
            border-radius: 4px;

            &:hover {
                background-color: rgba($color: $t-primary, $alpha: 0.05);

                .item-nums {
                    display: none !important;
                }

                .right-icon {
                    display: block !important;
                }
            }

            &.active-menu {
                background-color: rgba($color: $t-primary, $alpha: 0.1);
            }

            .item-left {
                display: flex;
                align-items: center;

                .menu-icon {
                    font-size: 18px;
                    margin-right: 4px;
                }

                .item-label {
                    color: $t-grey;
                }
            }

            .item-right {
                display: flex;
                align-items: center;
                .rounded {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .item-nums {
                    width: 10px;
                    display: block;
                    color: rgba($color: $t-grey, $alpha: 0.4);
                }

                .right-icon {
                    width: 10px;
                    display: none;
                    color: rgba($color: $t-grey, $alpha: 0.4);
                }
            }
        }
    }
}